@import "tailwindcss";

@font-face {
	font-family: "Spritendo";
	src:
		url("/fonts/RoSpritendoSemiboldBeta.woff2") format("woff2"),
		url("/fonts/RoSpritendoSemiboldBeta.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "TypelightSans";
	src:
		url("/fonts/TypelightSans.woff2") format("woff2"),
		url("/fonts/TypelightSans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@theme {
	--color-frutigerGreen: #9ecabb;
	--color-frutigerGreenButtonUp: #c8ee89;
	--color-frutigerGreenButtonDown: #60a032;
	--color-frutigerBlueButtonDown: #5590dc;
	--color-frutigerBlueButtonDown: #a6eefc;
}
