@import "tailwindcss";

@font-face {
	font-family: "Pretendo Regular";
	src:
		url("/fonts/pretendo-webfont.woff2") format("woff2"),
		url("/fonts/pretendo-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Spin Cycle OT Regular";
	src:
		url("/fonts/spincycle_ot-webfont.woff2") format("woff2"),
		url("/fonts/spincycle_ot-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@layer utilities {
	.cursor-magnifier {
		cursor: url("/imgs/magnifierCursor.png"), auto !important;
	}
}
@theme {
	--color-frutigerGreen: #9ecabb;
	--color-frutigerGreenButtonUp: #c8ee89;
	--color-frutigerGreenButtonDown: #60a032;
	--color-frutigerBlueButtonDown: #5590dc;
	--color-frutigerBlueButtonDown: #a6eefc;
}
